<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- AuctionMapper 인터페이스의 package이름과 같아야 함 -->
<mapper namespace="dongduk.cs.ssd.dao.mybatis.mapper.AuctionMapper">

  <sql id="BaseColumns_Auctions">
  	auctionId, title, content, img, startPrice, uploadDate, endDate, count,
  	maxPrice, state, menuId, userId 
  </sql>
  
  <select id="getAuction" parameterType="java.lang.Integer" resultType="dongduk.cs.ssd.domain.Auction"> <!-- parameterType없이도 되남 -->
    SELECT <include refid="BaseColumns_Auctions" />
    FROM AUCTIONS
    WHERE AUCTIONID = #{auctionId}
  </select>
  
  <insert id="createAuction" parameterType="dongduk.cs.ssd.domain.Auction">
  	<selectKey keyProperty="auctionId" resultType="int" order="BEFORE">
  		SELECT auctionId_seq.nextval AS auctionId FROM DUAL
     </selectKey>
  	INSERT INTO AUCTIONS
	VALUES (#{auctionId}, #{title}, #{content}, #{img}, #{startPrice}, 
			#{uploadDate}, #{endDate}, #{count}, #{maxPrice}, #{state}, #{menuId}, #{userId})
  </insert>
  
  <update id="updateAuction" parameterType="dongduk.cs.ssd.domain.Auction">
   	UPDATE AUCTIONS
    SET title=#{title}, content=#{content}, img=#{img}, startPrice=#{startPrice}, 
 		ENDDATE=#{endDate}, MAXPRICE=#{maxPrice}
  	WHERE  AUCTIONID=#{auctionId}
  </update>
  
  <update id="updateAuctionMaxPrice" parameterType="dongduk.cs.ssd.domain.Auction">
  	UPDATE AUCTIONS
	SET MAXPRICE = #{param1}
	WHERE AUCTIONID = #{param2}
  </update>
   
  <delete id="deleteAuction" parameterType="java.lang.Integer">
    DELETE FROM AUCTIONS
    WHERE  AUCTIONID=#{auctionId}
  	
  </delete>
  
  <!-- Get all auctions -->
  <select id="getAuctionList" resultType="Auction">
    SELECT <include refid="BaseColumns_Auctions" />
    FROM AUCTIONS
    ORDER BY UPLOADDATE DESC
  </select>
  
  <!-- Search auctions by Keyword -->
  <select id="getAuctionListByKeyword" resultType="dongduk.cs.ssd.domain.Auction">
  	<bind name="pattern" value="'%' + _parameter + '%'" />
	  	SELECT <include refid="BaseColumns_Auctions" />
	  	FROM AUCTIONS
	  	WHERE title LIKE #{pattern}
  </select>
  
  <update id="increaseCount" parameterType="dongduk.cs.ssd.domain.Auction">
  	UPDATE AUCTIONS
  	SET  COUNT=#{count}
  	WHERE AUCTIONID=#{auctionId}
  </update>
  
  <update id="closeEvent" parameterType="Date">
    <![CDATA[
     UPDATE AUCTIONS SET STATE = 'closed'
     WHERE ENDDATE <= #{curTime}
    ]]>
  </update>
  
  <select id="getRecentAuctionList" resultType="dongduk.cs.ssd.domain.Auction">
   <![CDATA[
    SELECT * FROM
    	(SELECT * FROM AUCTIONS
    	 ORDER BY COUNT DESC)
    WHERE ROWNUM <= 3
   ]]>
  </select>
</mapper>