<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- AuctionMapper 인터페이스의 package이름과 같아야 함 -->
<mapper namespace="dongduk.cs.ssd.dao.mybatis.mapper.AuctionMapper">
  <cache />
<!--   <sql id="BaseColumns">

  </sql> -->
  <select id="getAuction" parameterType="java.lang.Integer" resultType="Auction"> <!-- parameterType없이도 되남 -->
    SELECT * FROM AUCTIONS
    WHERE AUCTIONID = #{auctionId}
  </select>
  
  <insert id="createAuction" parameterType="Auction">
  	INSERT INTO AUCTIONS
	VALUES (#{auctionId}, #{title}, #{content}, #{img}, #{startPrice}, 
			#{uploadDate}, #{endDate}, #{count}, #{maxPrice}, #{state}, 1);
  </insert>
  
  <update id="updateAuction" parameterType="Auction">
   	UPDATE AUCTIONS
    SET TITLE=#{title}, CONTENT=#{content}, IMG=#{img}, STARTPRICE=#{startPrice}, 
 		UPLOADDATE=#{uploadDate}, ENDDATE=#{endDate}, COUNT=#{count}, MAXPRICE=#{maxPrice}, STATE=#{state}
  	WHERE  AUCTIONID=#{auctionId};
  </update>
   
  <delete id="deleteAuction" parameterType="java.lang.Integer">
    DELETE FROM AUCTIONS
    WHERE  AUCTIONID=#{auctionId};
  	
  </delete>
  
  <!-- Get all auctions -->
  <select id="getAuctionList" resultType="Auction">
    SELECT * FROM AUCTIONS
  </select>
  
  <!-- Search auctions by Keyword -->
  <select id="getAuctionListByKeyword" resultType="Auction">
  	<bind name="pattern" value="'%' + _parameter + '%'" />
	  	SELECT * 
	  	FROM AUCTIONS
	  	WHERE title LIKE #{pattern}
  </select>
  
</mapper>