<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.cs.ssd.dao.mybatis.mapper.UserMapper">
  <cache />
  
  <select id="getUser" resultType="User">
    SELECT EMAIL, PASSWD
    FROM USERS 
    WHERE EMAIL = #{param1}
      AND PASSWD = #{param2}
  </select> 
  
  <insert id="createUser" parameterType="User">
  	INSERT INTO USERS 
  	(EMAIL, PASSWD, USERNAME, NICKNAME, ADDRESS1, ADDRESS2, ADDRESS3, PHONE, REFUNDBANK, REFUNDACCOUNT)
  	VALUES 
  	(#{emailId}, #{password}, #{userName}, #{nickname}, #{address1}, #{address2}, #{address3}, #{phone}, #{refundBank}, #{refundAccount})
  </insert>
  
</mapper>